*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body
{
    background: #c2cbe5;
    font-family: 'Open Sans', sans-serif;
}
header
{
    padding: 40px 50px;
}
header .logo
{
    float:left;
}
header .menu
{
    float: right;
}
header .menu ul li
{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child
{
    margin-right: 0;

}
header .menu ul li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li a:hover
{
    color:#fff700;
}
/*Header Button*/
header .menu ul li.btn a
{
    background-color: #fff700;
    color:#000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header .menu ul li.btn a:hover
{
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h2 {
    font-size: 50px;
}
p
{
    font-size: 30px;
    margin-top: 50px;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 400px;
    border-radius: 200px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}